<footer class="footer">
    <div class="container-fluid footer_container">
        <div class="footer_divider_outer">
            <div class="col-md-12 footer_divider"></div>
        </div>
        <div class="container-fluid">
            <p class="text-muted">Made with <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> <br>
                &copy; All Rights Reserved 2018</p>
        </div> <!-- container -->
    </div> <!-- container-fluid footer_container-->
</footer> <!-- footer -->