{% extends 'base.html' %}


{% block content %}

<div class="content-container">
    <div class="about_banner"></div>
</div>


<div class="row main-content">
    <div class="col-md-6">
        <h2>Web Developer / Software Developer</h2>
    </div> <!-- col sm-6-->
    <div class="col-md-6">
        <p class="lead">Creative developer dedicated to building and optimizing the performance of user interface and
            interaction.
            Experienced in backend technologies, such as Python, Django, and Flask Web Framework, with a little
            sprinkle of frontend technologoies to include Bootstrap and CSS. As an ongoing
            learner, I
            am focus
            on
            developing and increasing my soft skills to reach maximum enlightment.</p>
    </div> <!-- col sm-6-->
</div><!-- row-div-->
<div class="icon">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h3>Thanks for taking the time to visit my page!</h3>
                <p class="lead">leave me a comment /critic in my guestbook.</p>
                <a href="https://www.linkedin.com/in/carlos-baez-mba-b6a608119/" target="_blank"><i class="fab fa-linkedin fa-3x"></i></a>
                <a href="https://www.instagram.com/baez_1223/" target="_blank"><i class="fab fa-instagram fa-3x"></i></a>
                <a href="https://github.com/Heart8reak" target="_blank"><i class="fab fa-github-square fa-3x"></i></a>
                <a href="https://codepen.io/dashboard/" target="_blank"><i class="fab fa-codepen fa-3x"></i></a>
            </div>
        </div>
    </div>
</div>


{% endblock %}