{% extends 'base.html' %}

{% block content %}

<div class="content-container">
    <div class="row">
        <div class="col-md-3 section">
            <p class="lead">Work</p>
        </div> <!-- col md 3 section -->
        <div class="col-md-9 section_details">
            <div class="col-md-10 xp-items">
                <div class="col-md-5 xp_headings">
                    <h4 class="xp_header">Independent Freelancer</h4>
                    <h5 class="xp_subheader">Independent</h5>
                </div> <!-- XP Heading -->
                <div class="col-md-5 xp_headings_details">
                    <h4 class="xp_heading_details">March 2018 - Present</h4>
                    <h5 class="xp_subheading">Florida</h5>
                </div> <!-- XP Heading Details -->
                <div class="col-md-10 xp_description">
                    <p class="lead">Colaborate with clients/partners in development of brand identity, clean and simple
                        intuitive
                        user
                        interface.</p>
                </div> <!-- XP Descriptions -->
            </div> <!-- XP Items -->
            <!-- ########################### Item Break ########################### -->

            <div class="col-md-10 xp-items">
                <div class="col-md-5 xp_headings">
                    <h4 class="xp_header">Security Sepcialist/Firearms Instructor</h4>
                    <h5 class="xp_subheader">Constellis</h5>
                </div> <!-- XP Heading -->
                <div class="col-md-5 xp_headings_details">
                    <h4 class="xp_heading_details">January 2011 - February 2018</h4>
                    <h5 class="xp_subheading">Afghanistan</h5>
                </div> <!-- XP Heading Details -->
                <div class="col-md-10 xp_description">
                    <p class="lead">Managed all aspects of 80+ team for personal and group protection detail in high
                        target
                        threat
                        regions
                        with oversight of $10M+ in government facilities and high value budgets.</p>
                </div> <!-- XP Descriptions -->
            </div> <!-- XP Items -->
            <!-- ########################### Item Break ########################### -->

            <div class="col-md-10 xp-items">
                <div class="col-md-5 xp_headings">
                    <h4 class="xp_header">Director/Project Manager</h4>
                    <h5 class="xp_subheader">JB Global Solutions</h5>
                </div> <!-- XP Heading -->
                <div class="col-md-5 xp_headings_details">
                    <h4 class="xp_heading_details">May 2009 - December 2010</h4>
                    <h5 class="xp_subheading">Iraq</h5>
                </div> <!-- XP Heading Details -->
                <div class="col-md-10 xp_description">
                    <p class="lead">Managed $1.2M operation and maintenance contract for services to the U.S. Embassy
                        in
                        Baghdad,
                        Iraq
                        with
                        budgeting and costing, forecasting, security, specialty service functions, and
                        operations
                        demands.</p>
                </div> <!-- XP Descriptions -->
            </div> <!-- XP Items -->
            <!-- ########################### Item Break ########################### -->

            <div class="col-md-10 xp-items">
                <div class="col-md-5 xp_headings">
                    <h4 class="xp_header">Personal Security Specialist</h4>
                    <h5 class="xp_subheader">Constellis</h5>
                </div> <!-- XP Heading -->
                <div class="col-md-5 xp_headings_details">
                    <h4 class="xp_heading_details">August 2006 - April 2009</h4>
                    <h5 class="xp_subheading">Iraq</h5>
                </div> <!-- XP Heading Details -->
                <div class="col-md-10 xp_description">
                    <p class="lead">Provided personal protection to United States Diplomats in multiple international
                        locations,
                        while
                        engaging in strategic planning and analysis for key regional embassy facility security.</p>
                </div> <!-- XP Descriptions -->
            </div> <!-- XP Items -->
            <!-- ########################### Item Break ########################### -->

            <div class="col-md-10 xp-items">
                <div class="col-md-5 xp_headings">
                    <h4 class="xp_header">Master Barber</h4>
                    <h5 class="xp_subheader">Modern Style</h5>
                </div> <!-- XP Heading -->
                <div class="col-md-5 xp_headings_details">
                    <h4 class="xp_heading_details">November 1998 - October 2001</h4>
                    <h5 class="xp_subheading">New York</h5>
                </div> <!-- XP Heading Details -->
                <div class="col-md-10 xp_description">
                    <p class="lead">Licensed in New York to perform shaving/trimming beard or mustache,
                        cutting/trimming/shaving
                        hair.</p>
                </div> <!-- XP Descriptions -->
            </div> <!-- XP Items -->
            <!-- ########################### Item Break ########################### -->

            <div class="col-md-10 xp-items">
                <div class="col-md-5 xp_headings">
                    <h4 class="xp_header">Foot Locker</h4>
                    <h5 class="xp_subheader">Sales Associates</h5>
                </div> <!-- XP Heading -->
                <div class="col-md-5 xp_headings_details">
                    <h4 class="xp_heading_details">June 1997 - October 2000</h4>
                    <h5 class="xp_subheading">New York</h5>
                </div> <!-- XP Heading Details -->
                <div class="col-md-10 xp_description">
                    <p class="lead">Involved in operating cash registers, assisting customers with sales, stocking and
                        organizing shelves, and answering questions about company policies, merchandise, and
                        services.</p>
                </div> <!-- XP Descriptions -->
            </div> <!-- XP Items -->

        </div> <!-- col md 9 section detail -->

        <div class="xp_divider_outer">
            <div class="col-md-12 footer_divider"></div>
        </div> <!-- xp divider outer -->

        <!-- ########################### Section Break ########################### -->
        <!-- ########################### Section Break ########################### -->

        <div class="col-md-3 section">
            <p class="lead">Military</p>
        </div> <!-- col md 3 section -->
        <div class="col-md-9 section_details">
            <div class="col-md-10 xp-items">
                <div class="col-md-5 xp_headings">
                    <h4 class="xp_header">United States Marine Corps</h4>
                    <h5 class="xp_subheader">E-5 Sergeant/Firearms Instructor</h5>
                </div> <!-- XP Heading -->
                <div class="col-md-5 xp_headings_details">
                    <h4 class="xp_heading_details">November 2001 - November 2005</h4>
                    <h5 class="xp_subheader">Camp Lejeune</h5>
                </div> <!-- XP Heading Details -->
                <div class="col-md-10 xp_description">
                    <p class="lead">Charged with oversight of training elite marines for special operations, new
                        recruits, and
                        existing
                        service members to meet long-term military objectives and immediate operations demands.</p>
                </div> <!-- XP Descriptions -->
            </div> <!-- col md 10 xp items -->
        </div> <!-- col-md-9 section details-->

        <div class="xp_divider_outer">
            <div class="col-md-12 footer_divider"></div>
        </div> <!-- xp divider outer -->

        <!-- ########################### Section Break ########################### -->
        <!-- ########################### Section Break ########################### -->

        <div class="col-md-3 section">
            <p class="lead">Education</p>
        </div> <!-- col-md-3 section -->
        <div class="col-md-9 section_details">
            <div class="col-md-10 xp-items">
                <div class="col-md-10 xp_header">
                    <h4 class="xp_header">University of Management and Technology</h4>
                    <p class="lead">Arlington, VA</p>
                </div><!-- col md 10 xp header -->
                <div class="col-md-10 xp_subheader">
                    <h5 class="xp_subheader">MBA</h5>
                </div> <!-- col md 10 xp subheader -->
                <div class="col-md-10 xp_description">
                    <p class="lead">June 2015</p>
                </div> <!-- col md 10 xp description -->
            </div> <!-- col-md-9 section details-->
            <div class="col-md-10 xp-items">
                <div class="col-md-10 xp_header">
                    <h4 class="xp_header">Saunders Trade & Technical H.S</h4>
                    <p class="lead">Yonkers, NY</p>
                </div><!-- col md 10 xp header -->
                <div class="col-md-10 xp_subheader">
                    <h5 class="xp_subheader">High School Deploma/Major: Architecture</h5>
                </div> <!-- col md 10 xp subheader -->
                <div class="col-md-10 xp_description">
                    <p class="lead">June 1998</p>
                </div> <!-- col md 10 xp description -->
            </div><!-- col md 10 xp items -->
        </div> <!-- col-md-9 section details-->

        <div class="xp_divider_outer">
            <div class="col-md-12 footer_divider"></div>
        </div> <!-- xp divider outer -->

        <!-- ########################### Section Break ########################### -->
        <!-- ########################### Section Break ########################### -->

        <div class="col-md-3 section">
            <p class="lead">Skills</p>
        </div> <!-- col-md-3 section -->
        <div class="col-md-9 section_details">
            <div class="col-md-10 xp-items">
                <div class="col-md-10 xp_header">
                    <h4 class="xp_header">Coding:</h4>
                    <p class="lead">
                        <underline>Familiar</underline> with Python, Django, Flask, Bootstrap, HTML5, CSS
                    </p>
                    <p class="lead">
                        <underline>Exposed to Javascript</underline>, JQuery, SQL, Shell Scripting, PHP
                    </p>
                </div><!-- col md 10 xp header -->
                <div class="col-md-10 xp_header">
                    <h4 class="xp_header">Editing & Prototyping Software:</h4>
                    <p class="lead">
                        Adobe Photoshop, Illustrator & Sketch, ProCreate, Autodesk Sketchbook</p>
                </div><!-- col md 10 xp header -->
            </div> <!-- col-md-9 section details-->
            <div class="col-md-10 xp-items">
                <div class="col-md-10 xp_header">
                </div><!-- col md 10 xp header -->
                <div class="col-md-10 xp_subheader">
                </div> <!-- col md 10 xp subheader -->
                <div class="col-md-10 xp_description">
                </div> <!-- col md 10 xp description -->
            </div><!-- col md 10 xp items -->
        </div> <!-- col-md-9 section details-->

    </div> <!-- row -->
</div>
<!--Content Container -->


{% endblock %}